# Урок 3. Изменение таблиц в Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./laptop_price.csv', encoding='latin-1')

## Задание 1.

### 1.1. Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [3]:
df['Cpu'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core M M3-6Y30 0.9GHz        1
AMD A9-Series 9420 2.9GHz          1
Intel Core i3 6006U 2.2GHz         1
AMD A6-Series 7310 2GHz            1
Intel Xeon E3-1535M v6 3.1GHz      1
Name: Cpu, Length: 118, dtype: int64

In [4]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])
df['Cpu_Company'].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: Cpu_Company, dtype: int64

### 1.2. Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [5]:
df['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [6]:
def gb(s):
    s = s.split()[0]
    if s.endswith('TB'):
        x = int(float(s.replace('TB',''))) * 1024
    elif s.endswith('GB'):
        x = int(s.replace('GB',''))
    return x

In [7]:
df['Memory_Amount'] = df['Memory'].apply(gb)
df['Memory_Amount'].value_counts()

256     508
1024    250
128     177
512     140
500     132
32       45
64       17
2048     16
16       10
180       5
240       1
8         1
508       1
Name: Memory_Amount, dtype: int64

### 1.3. Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [8]:
df['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [9]:
df['Memory_Type'] = df['Memory'].apply(lambda x: x.split()[-1])
df['Memory_Type'].value_counts()

SSD        641
HDD        576
Storage     74
Hybrid      12
Name: Memory_Type, dtype: int64

### 1.4. Удалите признаки Memory и ScreenResolution

In [10]:
#df.drop(['Memory','ScreenResolution'], axis=1, inplace=True)
df1 = df.drop(['Memory','ScreenResolution'], axis=1)
df1

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Storage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Intel Core i7 6500U 2.5GHz,4GB,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128,SSD
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Intel Core i7 6500U 2.5GHz,16GB,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel,512,SSD
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel,64,Storage
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Intel Core i7 6500U 2.5GHz,6GB,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel,1024,HDD
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,4GB,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel,500,HDD

## Задание 2.

### 2.1. Создайте признак SSD, который изначально равен 0

In [11]:
df['SSD'] = 0
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Storage,0
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,0
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,0
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,0

### 2.2. Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [12]:
df['Memory_Type'].unique()

array(['SSD', 'Storage', 'HDD', 'Hybrid'], dtype=object)

In [13]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1

In [14]:
df[['Memory_Type','SSD']].sample(10)

     Memory_Type  SSD
777          SSD    1
874          SSD    1
412          HDD    0
824      Storage    0
1191     Storage    0
327          SSD    1
943          SSD    1
674          SSD    1
471          HDD    0
1247         HDD    0

### 2.3. Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [15]:
df['Weight'] = df['Weight'].apply(lambda x: x.replace('kg','')).astype(float)
df['Weight']

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: Weight, Length: 1303, dtype: float64

## Задание 3.

In [16]:
cl = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

cl

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

### 3.1. Присоедините к таблице clients данные по ноутбукам через метод join

In [17]:
cl_id = cl.set_index('laptop_id')
cl_id

           client_id
laptop_id
506               45
398               32
710               67
120               33
1999              43

In [18]:
df_id = df.set_index('laptop_ID')
df_id

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_ID,,,,,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,Storage,0
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.80,638.00,Intel,128,SSD,1
1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.30,1499.00,Intel,512,SSD,1
1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.50,229.00,Intel,64,Storage,0
1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19,764.00,Intel,1024,HDD,0
1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.20,369.00,Intel,500,HDD,0

In [19]:
cl_id.join(df_id)

,client_id,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_id.join(cl_id, how = 'inner')

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD,client_id
120,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,HDD,0,33
506,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1,45
710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0,67

### 3.2. Присоедините к таблице clients данные по ноутбукам через метод merge

In [21]:
m = cl.merge(df, left_on='laptop_id', right_on='laptop_ID', how='left')
m

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,506.0,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
1,32,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67,710,710.0,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
3,33,120,120.0,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
4,43,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Задание 4.

### 4.1. Найдите среднюю стоимость ноутбуков в зависимости от компании производителя

Отсортируйте от меньшей стоимости к большей

In [22]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

### 4.2. Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [23]:
df_group = df.groupby('Cpu_Company').agg({'Price_euros': ['min','max','mean']})
df_group.sort_values(('Price_euros', 'min'))

            Price_euros
                    min     max         mean
Cpu_Company
Intel             174.0  6099.0  1152.214145
AMD               199.0  2199.0   560.638871
Samsung           659.0   659.0   659.000000

In [24]:
cols_lst = df_group.columns.to_list()
cols_lst

[('Price_euros', 'min'), ('Price_euros', 'max'), ('Price_euros', 'mean')]

In [25]:
df_group.sort_values(('Price_euros', 'min'))

            Price_euros
                    min     max         mean
Cpu_Company
Intel             174.0  6099.0  1152.214145
AMD               199.0  2199.0   560.638871
Samsung           659.0   659.0   659.000000

In [26]:
df_group.sort_values(cols_lst[1])

            Price_euros
                    min     max         mean
Cpu_Company
Samsung           659.0   659.0   659.000000
AMD               199.0  2199.0   560.638871
Intel             174.0  6099.0  1152.214145

### 4.3. Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [27]:
df.pivot_table(
    index = 'Cpu_Company',
    columns = 'Ram',
    aggfunc = 'count',
    values = 'laptop_ID',
    fill_value = '-'
)

Ram          12GB   16GB 24GB   2GB  32GB    4GB 64GB   6GB    8GB
Cpu_Company
AMD           2.0    3.0    -   1.0     -   31.0    -  13.0   12.0
Intel        23.0  197.0  3.0  21.0  17.0  343.0  1.0  28.0  607.0
Samsung         -      -    -     -     -    1.0    -     -      -

### 4.4. Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [28]:
df.pivot_table(
    index = 'OpSys',
    columns = 'Ram',
    aggfunc = 'mean',
    values = 'Price_euros',
    fill_value = '-'
)

Ram,12GB,16GB,24GB,2GB,32GB,4GB,64GB,6GB,8GB
OpSys,,,,,,,,,
Android,-,-,-,-,-,434.0,-,-,-
Chrome OS,-,2199.0,-,234.333333,-,397.726316,-,-,1122.0
Linux,949.0,974.0,-,-,-,417.705625,-,-,814.618148
Mac OS X,-,2139.97,-,-,-,959.0,-,-,1167.333333
No OS,-,1265.316667,-,-,-,393.980625,-,-,722.674516
Windows 10,1205.998261,1916.548315,2206.333333,257.534211,3413.085882,604.317509,3975.0,615.206341,1190.119217
Windows 10 S,-,2589.0,-,-,-,673.9975,-,-,1668.95
Windows 7,2299.0,2840.4,-,-,-,1036.020833,-,-,1739.483704
macOS,-,2611.806667,-,-,-,-,-,-,1490.978

## Задание 5.

### 5.1. Ноутбуков каких компаний и с каким процессором больше?

In [29]:
pd.crosstab(
    index = df['Company'],
    columns = df['Cpu_Company']
).sort_values('Intel', ascending=False)

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0
Lenovo        16    281        0
HP            25    249        0
Asus          11    147        0
Acer          10     93        0
MSI            0     54        0
Toshiba        0     48        0
Apple          0     21        0
Samsung        0      8        1
Razer          0      7        0
Mediacom       0      7        0
Microsoft      0      6        0
Vero           0      4        0
Xiaomi         0      4        0
Google         0      3        0
Fujitsu        0      3        0
Chuwi          0      3        0
LG             0      3        0
Huawei         0      2        0

### 5.2. С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [30]:
pd.crosstab(
    index = df['Memory_Type'],
    columns = df['Memory_Amount']
)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
Memory_Type,,,,,,,,,,,,,
HDD,0,0,1,1,97,0,0,85,132,0,17,227,16
Hybrid,0,0,0,0,0,0,0,1,0,1,1,9,0
SSD,1,3,6,1,76,5,1,414,0,0,120,14,0
Storage,0,7,38,15,4,0,0,8,0,0,2,0,0